@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    dialog[open] {
        @apply backdrop:bg-black/75 bg-black w-4/6 outline outline-white rounded-lg p-5;
        height: 800px
    }

    .cv-content {
        @apply text-black;

        font-family: Cambria,Georgia,serif; 

        hgroup {
          @apply mb-4;
        }

        h1 {
          @apply text-3xl font-bold;
        }
      
        h2 {
          @apply text-2xl font-bold;
        }
      
        h3 {
          @apply text-xl font-bold;

          span {
            @apply font-normal;
          }
        }

        h4 {
          @apply text-lg;
        }

        address {
          @apply flex basis-full mb-4;

          ul {
            @apply flex flex-col gap-1 list-none;
          }
        }

        p {
          @apply mb-2;
        }

        b {
          @apply font-bold;
        }

        ul {
          @apply list-disc ml-4 mb-2;
        }

        .skills {
          @apply font-bold flex basis-full items-center mb-4;

          ul {
            @apply flex flex-row flex-wrap justify-center gap-x-4 gap-y-2 list-none;
          }
        }

        @media print {
          .page-break {
            page-break-after: always;
          }
        }
      }
}

@layer components {
    .btn-pill {
        @apply hover:bg-neutral-200 bg-neutral-100 text-black font-bold py-1 rounded-full disabled:bg-gray-400 disabled:text-white disabled:hover:bg-gray-400
    }
}

